<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="KFUPM Curriculum is the website to see information about courses and majors offered by King Fahd University of Petroleum and Minerals">
    <meta name="keywords"
        content="KFUPM, flowchart, courses, curriculum, Math101, Phys101, Chem101, math kfupm, physics 101 kfupm, math 101 kfupm, chem 101 kfupm, EE kfupm, ME kfupm">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <title>Course | KFUPM Curriculum</title>
    <link rel="icon" href="/logo.png">

</head>

<body>
    <%- include('partials/header') %>

    <%- include('partials/dropDown') %>


    <div class='content'>
        <section class="landing">
            <!--Main page with title, Logo, Major Image & Course Name-->
            <div class='wide-logo'>
            </div>
            <header class="major">
                <h1><%= courseInfo.code %></h1>
                <h1><%= courseInfo.name %></h1>
            </header>
            <img class='course-image' alt="Course" src=<%= courseInfo.course_image_url %>>
        </section>

        <!--Course Information are below !-->
        <section class="outcome">
            <header>
                <h1 onmouseover="changeColorM(this)" onmouseout="changeColorM(this)" id="SD1">Course Description</h1>
                <i class="fa fa-caret-right" aria-hidden="true"></i>
            </header>
            <% if (courseInfo.description) { %>
            <p contenteditable="true" id="x1"><%= courseInfo.description %></p>
            <% } else { %>
            <p contenteditable="true" id="x1">Soon...</p>
            <% } %>
        </section>
        <section>
            <header>
                <h1 onmouseover="changeColorM(this)" onmouseout="changeColorM(this)" id="SD2">Course Syllabus</h1>
                <i class="fa fa-caret-right" aria-hidden="true"></i>
            </header>
            <ul id="x2">
                <% if (courseInfo.syllabus) { %>
                <li><a href=<%=courseInfo.syllabus %>>Syllabus</a>
                </li>
                <% } %>
                <% if (courseInfo.lab_syllabus) { %>
                <li><a href=<%=courseInfo.lab_syllabus %>>Lab Syllabus</a>
                </li>
                <% } %>
            </ul>
        </section>
        <section class="outcome">
            <header>
                <h1 onmouseover="changeColorM(this)" onmouseout="changeColorM(this)" id="SD3">Course Outcomes</h1>
                <i class="fa fa-caret-right" aria-hidden="true"></i>
            </header>
            <% if (courseInfo.outcomes) { %>
            <p id="x3"><%= courseInfo.outcomes %></p>
            <% } else { %>
            <p id="x3">Soon...</p>
            <% } %>
        </section>
        <section>
            <header>
                <h1 onmouseover="changeColorM(this)" onmouseout="changeColorM(this)" id="SD4">Course Pre-requisites</h1>
                <i class="fa fa-caret-right" aria-hidden="true"></i>
            </header>
            <% if (prereqs.length) { %>
            <ul id="x4">
                <% prereqs.forEach(prereq => {  %>
                <li><a href=<%= `/courses/${prereq.code}` %>><%= prereq.code %></a></li>
                <% }) %>
            </ul>
            <% } %>
        </section>
        <section>
            <header>
                <h1 onmouseover="changeColorM(this)" onmouseout="changeColorM(this)" id="SD5">Related Courses</h1>
                <i class="fa fa-caret-right" aria-hidden="true"></i>
            </header>
            <% if (related.length) { %>
            <ul id="x5">
                <% related.forEach(course => {  %>
                <li><a href=<%= `/courses/${course.code}` %>><%= course.code %></a></li>
                <% }) %>
            </ul>
            <% } %>
        </section>

        <section>
            <header>
                <h1 onmouseover="changeColorM(this)" onmouseout="changeColorM(this)" id="SD6">Resources</h1>
                <i class="fa fa-caret-right" aria-hidden="true"></i>
            </header>
            <% if(courseInfo.resources_url) {  %>
            <p id="x6"><a href=<%= courseInfo.resources_url %> target="_blank" onmouseover="changeColorLM(this)"
                    onmouseout="changeColorLM(this)"><%= courseInfo.resources_url %></a></p>
            <% } else { %>
            <p id="x6"><a
                    href=<%= `http://resources.stkfupm.com/?dir=uploads/${courseInfo.code.replace('/[0-9]/g', '')}/${courseInfo.code}` %>
                    target="_blank" onmouseover="changeColorLM(this)" onmouseout="changeColorLM(this)">Resource</a></p>
            <% } %>
        </section>

        <h4 class="svh" id="mySurveyBtn" onclick="showModal()">
            It's our pleasure to take Survey for <%= courseInfo.code %> course by clicking Here!
        </h4>

        <div id="mySurveyMdl" class="modal">

            <div class="modal-content">
                <span class="close-ing">&times;</span>
                <h2 class="SurveyMonkey"> <%= courseInfo.code %> Survey</h2>
                <form required='req0' id="survey" onsubmit="postCourseSurvey();return false;">

                    <p>1) Have you taken <%= courseInfo.code %>?</p>
                    <input type="radio" id="Yes" name="finish" value="1">
                    <label for="Yes">Yes</label><br>
                    <input type="radio" id="Imtakingthiscourserightnow" name="finish"
                        value="Im taking this course right now">
                    <label for="Imtakingthiscourserightnow">Im taking this course right now</label><br>
                    <input type="radio" id="No0" name="finish" value="0">
                    <label for="No0">No</label>

                    <br>

                    <br>

                    <p>2) Are you familiar with <%= courseInfo.code %> information ?</p>
                    <input type="radio" id="Definitely" name="familiarity" value="Definitely">
                    <label for="Definitely">Definitely</label><br>
                    <input type="radio" id="Maybe" name="familiarity" value="Maybe">
                    <label for="Maybe">Maybe</label><br>
                    <input type="radio" id="No" name="familiarity" value="No">
                    <label for="No">No</label>

                    <br>



                    <br>

                    <p>3) Do you see that information of <%= courseInfo.code %> course reliable & up to date?</p>
                    <input type="radio" id="Yes" name="nither" value="Yes">
                    <label for="Yes">Yes</label><br>
                    <input type="radio" id="OnlyReliable" name="nither" value="Only Reliable">
                    <label for="OnlyReliable">Only Reliable</label><br>
                    <input type="radio" id="OnlyUptodate" name="nither" value="Only Up to date">
                    <label for="OnlyUptodate">Only Up to date</label><br>
                    <input type="radio" id="No1" name="nither" value="No">
                    <label for="No1">No</label>

                    <br>

                    <p>4) How do you rate the difficulty of <%= courseInfo.code %> course ?</p>
                    <input type="radio" id="Easy" name="difficulty" value="Easy">
                    <label for="Easy">Easy</label><br>
                    <input type="radio" id="Average" name="difficulty" value="Average">
                    <label for="Average">Average</label><br>
                    <input type="radio" id="Hard" name="difficulty" value="Hard">
                    <label for="Hard">Hard</label><br>

                    <br>

                    <p>5) What things that need to be improved related to information of <%= courseInfo.code %> course?
                    </p>
                    <input type="checkbox" id="Description" name="improvec" value="Description">
                    <label for="Description">Description</label><br>
                    <input type="checkbox" id="Resources" name="improvec" value="Resources">
                    <label for="Resources">Resources</label><br>
                    <input type="checkbox" id="Syllabus" name="improvec" value="Syllabus">
                    <label for="Syllabus">Syllabus</label><br>
                    <input type="checkbox" id="Outcomes" name="improvec" value="Outcomes">
                    <label for="Outcomes">Outcomes</label><br>
                    <input type="checkbox" id="Pre-requisites" name="improvec" value="Pre-requisites">
                    <label for="Pre-requisites">Pre-requisites</label>
                    <br>
                    <br>
                    <input class="sbmt-for-survey" id="sbmt-for-sur" type=submit value="Submit">
                    <br>
                    <br>
                </form>
            </div>
        </div>

        <div>
            <img id='p' src="/BG.png" alt="LOGO" class="courses-image">
        </div>
    </div>


    <%- include('partials/footer') %>

    <script src="/index.js"></script>
    <script src="/help.js"></script>

    <script>
        // Srcipting from External link, for toggling courses, information headers and picture below !

        $(document).ready(function () {
            $('#SD1').click(function () {
                $('#SD1').next().toggleClass('caret-toggled')
                $('#x1').slideToggle(1000);
            });

            $('#SD2').click(function () {
                $('#SD2').next().toggleClass('caret-toggled')
                $('#x2').slideToggle(1000);
            });

            $('#SD3').click(function () {
                $('#SD3').next().toggleClass('caret-toggled')
                $('#x3').slideToggle(1000);
            });

            $('#SD4').click(function () {
                $('#SD4').next().toggleClass('caret-toggled')
                $('#x4').slideToggle(1000);
            });

            $('#SD5').click(function () {
                $('#SD5').next().toggleClass('caret-toggled')
                $('#x5').slideToggle(1000);
            });

            $('#SD6').click(function () {
                $('#SD6').next().toggleClass('caret-toggled')
                $('#x6').slideToggle(1000);
            });
        });

        function postCourseSurvey() {
            $.ajax({
                type: 'post',
                url: window.location.pathname,
                data: $('#survey').serialize(),
                success: () => {
                    $("#survey").append('<p style="color: palegreen;">Thank you for participating in the survey!</p>')
                },
                error: () => {
                    $("#survey").append('<p style="color: crimson;">Whoops! Something wrong happened.</p>')
                }
            })
        }

    </script>

</body>

</html>