<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="KFUPM Curriculum is the website to see information about courses and majors offered by King Fahd University of Petroleum and Minerals">
    <meta name="keywords"
        content="KFUPM, flowchart, courses, curriculum, Math101, Phys101, Chem101, math kfupm, physics 101 kfupm, math 101 kfupm, chem 101 kfupm, EE kfupm, ME kfupm">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <title>Home | KFUPM Curriculum</title>
    <link rel="icon" href="logo.png">

</head>

<body>
    <%- include('partials/header') %>

    <%- include('partials/dropDown') %>

    <div class='content'>

        <div class="slideshow-container" title="Home pictures">

            <div class="mySlides fade">
                <img class="imgslide" src="1a.jpg" alt="home" style="width:100%">
            </div>

            <div class="mySlides fade">
                <img class="imgslide" src="2a.jpg" alt="home" style="width:100%">
            </div>

            <div class="mySlides fade">
                <img class="imgslide" src="4a.jpg" alt="home" style="width:100%">
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

        </div>
        <br>

        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>

        <section>
            <header class="viewed">
                <h3>Most Viewed Courses</h3>
            </header>

            <div class="card-container">
                <a class="card" href="/courses/math101">
                    <div class='card-image image1'></div>
                    <div class="text-container text-header">
                        <h4 onmouseover="changeColorM(this)" onmouseout="changeColorM(this)"><b>Math101</b></h4>
                        <p class="color-new-text">Calculus I</p>
                    </div>
                </a>

                <a class="card" href="/courses/ics103">
                    <div class='card-image image2'></div>
                    <div class="text-container text-header">
                        <h4 onmouseover="changeColorM(this)" onmouseout="changeColorM(this)"><b>ICS103</b></h4>
                        <p class="color-new-text">Programming in C</p>
                    </div>
                </a>

                <a class="card" href="/courses/swe316">
                    <div class='card-image image3'></div>
                    <div class="text-container text-header">
                        <h4 onmouseover="changeColorM(this)" onmouseout="changeColorM(this)"><b>SWE316</b></h4>
                        <p class="color-new-text">Software Designing</p>
                    </div>
                </a>
            </div>
        </section>

        <img class="other-right-image" src="BG.png" alt="LOGO">
        <img class="other-left-image" src="BG.png" alt="LOGO">

        <section>
            <header>
                <h1 id="Sd">Look for courses that you want!
                    <i id="xa" class="fa fa-caret-right" aria-hidden="true"></i>
                </h1>
                <!--Square Cards that contain majors in all colleges-->
            </header>
            <div class='card-container' id="x">
                <% data.forEach(object => { %>
                <div class="card-box">
                    <div class="square-card">
                        <div class="text-container">
                            <div class="front back">
                                <h4><b><%= object.college %></b></h4>
                                <p>
                                    KFUPM <%= object.college %>
                                </p>
                            </div>
                            <div class="back">
                                <% object.majors.forEach(major => { %>
                                <p class="color-new-text" onmouseover="changeColor(this)"
                                    onmouseout="changeColor(this)">
                                    <a href=<%= `majors/${major.code}` %>><%= major.name %></a></p>
                                <% }) %>

                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>

        </section>


    </div>
    <%- include('partials/footer') %>

    <script src="index.js"></script>

    <script>
        // Srcipting from External link, for toggling Colleges square cards, majors in the college and logo pictures below !

        $(document).ready(function () {

            $('#Sd').click(function () {
                $('#x').slideToggle(2000);
                $('#xa').next().toggleClass('caret-toggled')
            });

        });
   
    </script>

</body>

</html>