<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="KFUPM Curriculum is the website to see information about courses and majors offered by King Fahd University of Petroleum and Minerals">
    <meta name="keywords"
        content="KFUPM, flowchart, courses, curriculum, Math101, Phys101, Chem101, math kfupm, physics 101 kfupm, math 101 kfupm, chem 101 kfupm, EE kfupm, ME kfupm">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <title>Home | KFUPM Curriculum</title>
    <link rel="icon" href="logo.png">

</head>

<body class="admin">
    <%- include('partials/header') %>

    <%- include('partials/dropDown') %>

    <div class='content'>
        <section class="landing">
            <!--Main page with title, Logo, & most viewed courses-->

            <div class='wide-logo'>
            </div>
            <div class="bg-image">
                <header>
                    <h1>Admin Panel</h1>
                </header>
                <h3>Add / Remove courses, and Modify course information</h3>
            </div>
        </section>

        <img class="other-right-image" src="BG.png" alt="LOGO">
        <img class="other-left-image" src="BG.png" alt="LOGO">

        <section>
            <!--Square Cards that contain majors in all colleges-->
            <div class='card-container' id="x">
                <% data.forEach(object => { %>
                <div class="square-card">
                    <div class="text-container">
                        <h4><b><%= object.college %></b></h4>
                        <div>
                            <% object.majors.forEach(major => { %>
                            <p class="color-new-text" onmouseover="changeColor(this)" onmouseout="changeColor(this)">
                                <a href=<%= `majors/${major.code}` %>><%= major.name %></a></p>
                            <% }) %>
                        </div>
                    </div>
                </div>
                <% }) %>

                <!-- <div class="square-card">
                    <div class="text-container">
                        <h4><b>College of Science</b></h4>
                        <div>
                            <p class="color-new-text" onmouseover="changeColor(this)" onmouseout="changeColor(this)">
                                <a href='major.html'>Chemistry</a></p>
                            <p class="color-new-text" onmouseover="changeColor(this)" onmouseout="changeColor(this)">
                                Life Science</p>
                            <p class="color-new-text" onmouseover="changeColor(this)" onmouseout="changeColor(this)">
                                Math</p>
                            <p class="color-new-text" onmouseover="changeColor(this)" onmouseout="changeColor(this)">
                                Physics</p>
                            <p class="color-new-text" onmouseover="changeColor(this)" onmouseout="changeColor(this)">
                                Statistics</p>
                        </div>
                    </div>
                </div>
            </div> -->
            </div>

        </section>


    </div>
    <footer class='footer'>
        <!--Footer that contains information of KFUPM and Copyrights-->
        <div class='contact-info'>
            <h4 class='contacting'>Contact us:</h4>
            <p>013-860-0000</p>
            <p>info@kfupm.edu.sa</p>
            <p>KFUPM</p>
            <p>Dahran</p>
            <p>Kingdom of Saudi Arabia</p>
        </div>

        <div class='links'>
            <p><a href="http://www.kfupm.edu.sa" target="_blank" onmouseover="changeColorL(this)"
                    onmouseout="changeColorL(this)">kfupm.com</a></p>
            <a href="https://www.facebook.com/KFUPM/" target="_blank" class="fa fa-facebook"></a>
            <a href="https://twitter.com/kfupm?lang=en" target="_blank" class="fa fa-twitter"></a>
            <a href="https://www.instagram.com/kfupm/?hl=en" target="_blank" class="fa fa-instagram"></a>
        </div>

        <div class='cr'>
            <p>Copyrights © KFUPM 2020</p>
            <p><a href='http://www.kfupm.edu.sa/pages/PrivacyPolicy.aspx' target="_blank">Privacy Policies</a> | <a
                    href='https://goo.gl/maps/MxbJcTLBKhETeAPd6' target="_blank">KFUPM Map</a></p>
        </div>
    </footer>

    <script src="index.js"></script>

    
<script>
    // Srcipting from External link, for toggling Colleges square cards, majors in the college and logo pictures below !

    $(document).ready(function () {

        $('#Sd').click(function () {
            $('#x').slideToggle(2000);
            $('#pr').slideToggle(1000);
            $('#pl').slideToggle(1000);
        });

        $('#c1').click(function () {
            $('#ca').slideToggle(2000);
        });

        $('#c2').click(function () {
            $('#cb').slideToggle(2000);
        });

        $('#c3').click(function () {
            $('#cc').slideToggle(2000);
        });

        $('#c4').click(function () {
            $('#cd').slideToggle(2000);
        });

        $('#c5').click(function () {
            $('#ce').slideToggle(2000);
        });

        $('#c6').click(function () {
            $('#cf').slideToggle(2000);
        });

        $('#c7').click(function () {
            $('#cg').slideToggle(2000);
        });
    });
</script>

</body>
</html>